{extends layout.latte}

{block title}Meteostanice{/block}

{block body}
    <div class="container">
        <table class="table table-striped w-auto" align="center">

            <tr align="center">
                <th colspan="4">Meteostanice</th>
            </tr>
               {foreach $aktualni as $a}
            <tr align="center">
                <th colspan="2">Aktuální teplota</th>
                <th colspan="2">{$a['teplota']} °C</th>
            </tr>
                       
            <tr align="center">
                <th colspan="2">Aktuální vlhkost</th>
                <th colspan="2">{$a['vlhkost']}%</th>
            </tr>
               {/foreach}
            <tr align="center">
                <th colspan="2">Průměrná včerejší teplota</th>
                {if $prumer==NULL}
                    <th colspan="2">Včera neměřeno</th>
                {/if}
                {if $prumer!=NULL}
                    <th colspan="2">{$prumer}°C</th>
                {/if}
            </tr>
            </tr>
            <tr align="center">
                <th colspan="4" ><a href="{link nastaveni}">
                    <button type="submit" class="btn btn-warning">
                        <i class="fas fa-cog"></i>
                        Nastavení
                    </button>  </a>
                </th>
            </tr>
            <tr>
                <th>Datum měření</th>
                <th>Čas měření</th>
                <th>Teplota</th>
                <th>Vlhkost</th>
            </tr>
                     {foreach $zaznamy as $z}
                    <tr>
                        <td>{$z['datum']}</td>
                        <td>{$z['cas']}</td>
                        <td>{$z['teplota']} °C</td>
                        <td>{$z['vlhkost']} %</td>
                    </tr>
                     {/foreach}


            <tr align="center">
                <th colspan="4"> <a href="{link mereni}">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-clock"></i>
                        Zobrazit všechna měření  
                    </button>         </a>
                </th>
            </tr>

        </table>
    </div>
{/block}