{extends layout.latte}

{block title}Meteostanice{/block}

{block body}
    <div class="container">
        <table class="table table-striped w-auto" align="center">

                      <tr align="center">
                <th colspan="4">Meteostanice</th>
            </tr>
                    <tr>
                        <th>Datum měření</th>
                        <th>Čas měření</th>
                        <th>Teplota</th>
                        <th>Vlhkost</th>
                    </tr>
                    {foreach $zaznamy as $z}
                    <tr>
                        <td>{$z['datum']}</td>
                        <td>{$z['cas']}</td>
                        <td>{$z['teplota']} °C</td>
                        <td>{$z['vlhkost']} %</td>
                    </tr>
                    {/foreach}

            <tr align="center">
                <th colspan="4"> <a href="{link index}">
                    <button type="submit" class="btn btn-primary">
                       <i class="fas fa-reply"></i>
                        Zpět  
                    </button>         </a>
                </th>
            </tr>

        </table>
    </div>
{/block}