{extends layout.latte}

{block title}Meteostanice{/block}

{block body}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
       <div class="container">
           <form action="{link nastaveni}" method="post">
               <table class="table table-striped w-auto" align="center" width="50%">

                   <tr align="center">
                       <th colspan="4">Meteostanice</th>
                   </tr>
                   <tr>
                       <td colspan="4" align="center">
                           {if ($nastaveni['stav']==TRUE)}
                           <input align="center" checked type="checkbox" data-toggle="toggle"
                                  data-onstyle="success"
                                  data-offstyle="danger" value="on" class="form-control"
                           name="stav" id="stav">
                           {else}
                           <input align="center" type="checkbox" data-toggle="toggle"
                                  data-onstyle="success"
                                  data-offstyle="danger" value="on" class="form-control"
                                  name="stav" id="stav">
                           {/if}
                       </td>
                   </tr>
                   <tr align="center">
                       <th colspan="4">Změna frekvence měření</th>
                   </tr>
                   <tr>
                       <td colspan="4">Aktuální frekvence: <span id="response"></span> měření/denně</td>
                   </tr>
                   <tr>
                       <td colspan="4">
                           <input type="range" min="0" max="24" id="customRange2" name="customRange2"
                                  value="{$nastaveni['frekvence']}" class="form-control">
                       </td>
                   </tr>
                   <tr align="center">
                       <td colspan="4">
                           <input type="hidden" value="{$nastaveni['id_nastaveni']}" name="id_nastaveni">
                           <button type="submit" class="btn btn-outline-success">
                               <i class="fa fa-save"></i>
                               Uložit
                           </button>
                       </td>
                   </tr>

                   <tr align="center">
                       <th colspan="4"><a href="{link index}">
                               <button type="button" class="btn btn-primary">
                                   <i class="fas fa-reply"></i>
                                   Zpět
                               </button>
                           </a>
                       </th>
                   </tr>
               </table>


               <script>
                   $(function toggleOnByInput() {
                       $('#toggle-trigger').prop('checked', true).change()
                   })
               </script>

               <script>
                   var slider = document.getElementById("customRange2");
                   var output = document.getElementById("response");
                   output.innerHTML = slider.value;

                   slider.oninput = function() {
                       output.innerHTML = this.value;
                   }
               </script>

           </form>
       </div>



{/block}

